<ion-app>
  <ion-header class="header outside">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <img src="/assets/icon/logo-tandem-pullman.png" alt="Logo Tandem Pullman" />
    </ion-row>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>

  <ion-footer class="ion-padding">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <span>Desarrollado por</span>
      <img src="/assets/icon/logo-wit.png" alt="Logo WIT" />
    </ion-row>
  </ion-footer>
</ion-app>
